
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
  background:#FFFFFF;
}

table {
  border-collapse: separate;
  background:#ffffff;
  @include border-radius(5px);
  margin:50px auto;
}

thead th {
  font-size:16px;
  font-weight:400;
  color:#fff;
  text-align:left;
  padding:20px;
  border-top:1px solid #858d99;
  background: #151515;
}

tbody tr td {
  font-family: 'Open Sans', sans-serif;
  font-weight:400;
  color:#000000;
  font-size:13px;
  padding:20px 20px 20px 20px;
  border-bottom:1px solid #e0e0e0;
}

tbody tr:nth-child(2n) {
  background:#F2F2F2;
}

