!
hostname {{inventory_hostname}}
!
no ip domain lookup
ip domain name {{ domain }}
!
!
logging host {{syslog_host}}
!
ipv6 unicast-routing
!
username automate privilege 15 password 0 setuplab
!
no ip http server
no ip http secure-server
!
snmp-server community {{snmp_community}} RO
snmp-server location {{location}}
snmp-server contact {{snmp_contact}}
snmp-server chassis-id
snmp-server host {{snmp_host}} {{snmp_community}}
!
!