{% for intf in ports %}
interface {{ports[intf].interface}}
{% if ports[intf].interface != 'loopback' %}
{% if ports[intf].mpls is defined %}
 mpls ip
 {% else %}
 no mpls ip
 {% endif %}
{% endif %}
{% endfor %}